legacy-peer-deps=true
shamefully-hoist=true
strict-peer-dependencies=false
public-hoist-pattern[]=*pg*
public-hoist-pattern[]=*pg-hstore*
public-hoist-pattern[]=*multer*
public-hoist-pattern[]=*sequelize*
